Player one id: <%= @player_one_id %>
Player one class: <%= @player_one_class.name %>
Player one health: <%= @player_one_health %>
Player one energy: <%= @player_one_energy %>


<div class='row'>
  <!-- <div class='col-sm-2'></div> -->
  <!-- <div class='col-sm-8'> -->
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title default_panel_header'>GAMEPLAY</h3>
      </div>
      <div class='panel-body'>
        <div class='row' id='gameplay-opponent'><%= image_tag("#{@player_one_class.image_path}", height: 160, width: 114) %></div>
        <div class='row' id='gameplay-middle'><br><br><br><br></div>
        <div class='row' id='gameplay-player'>
          <%= image_tag("#{@player_one_class.image_path}", height: 160, width: 114, id: 'player_deck_stack') %>
          <span id='player_hand_cards'></span>
          <hr>
          <div align='center' id='player_deck_all'>
            <% card_count = 1 %>
            <% @class_deck.each do |card_value| %>
              <% card_count += 1 %>
              <%= image_tag("#{card_value.image_path}", height: 160, width: 114) %>
            <% end %>
            <span class='btn btn-danger' id='close_player_deck'>Close</span>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
