
<div class='row'>
  <div class='col-sm-8'>

    <div class="btn-group" id="class_selector" data-toggle="buttons">
      <% @player_one_play_hand.each do |class_card| %>
      <label class="btn btn-default" for="<%= class_card.card_id %>_select">
        <input type="radio" name="attack_selection" id="<%= class_card.card_id %>_attack" value="<%= class_card.card_id %>_attack"><%= image_tag("#{class_card.image_path}", height: 196, width: 140, title: "#{class_card.image_path.gsub(/.png/,'')}", id: 'attack_card_select') %></input>
      </label>
      <% end %>
    </div>

  </div>

  <div class='col-sm-2'>
    <div class='btn btn-success' id='attack_button' data-current_hand="<%= @player_one_play_hand %>" data-count="<%= @player_one_play_hand.length %>">ATTACK</div><br>
    <div class='btn btn-warning' id='skip_button' data-current_hand="<%= @player_one_play_hand %>" data-count="<%= @player_one_play_hand.length %>">SKIP</div><br>
    <div class='btn btn-danger' id='forfeit_button' data-current_hand="<%= @player_one_play_hand %>" data-count="<%= @player_one_play_hand.length %>">FORFEIT</div><br>
  </div>
</div>
