
<div class='row'>
  <div class='col-sm-6'>

    <div class="btn-group" id="class_selector" data-toggle="buttons">
      <% @player_one_play_hand.each do |class_card| %>
      <label class="btn btn-default" for="<%= class_card.card_id %>_select">
        <input type="radio" name="attack_selection" id="<%= class_card.card_id %>_attack" value="<%= class_card.card_id %>_attack"><%= image_tag("#{class_card.image_path}", height: 196, width: 140, title: "#{class_card.image_path.gsub(/.png/,'')}", id: 'attack_card_select') %></input>
      </label>
      <% end %>
    </div>
    <br></br>
    <button type="button" class="btn-sm btn-success btn-sm" id='attack_button' data-current_hand="<%= @player_one_play_hand %>" data-count="<%= @player_one_play_hand.length %>">ATTACK</button>
    <button type="button" class='btn-sm btn-warning btn-sm' id='skip_attack_button' data-current_hand="<%= @player_one_play_hand %>" data-count="<%= @player_one_play_hand.length %>">SKIP</button>
    <button type="button" class='btn-sm btn-danger btn-sm' id='forfeit_button' data-current_hand="<%= @player_one_play_hand %>" data-count="<%= @player_one_play_hand.length %>">FORFEIT</button>

  </div>

  <div class='col-sm-5' id='player_aflictions'>
    <% if @player_one_status_list %>
      <% @player_one_status_list.each do |status| %>
        <%= image_tag("#{status.name}.png", height: 50, width: 50, title: "#{status.name}", id: "player_status_#{status.name}") %><small><b> <%= status.name %>: </b><%= status.affect_text %></small><br>
      <% end %>
    <% end %>
  </div>

</div>
